@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'font-awesome/css/font-awesome.min.css';



.Tooltip {
    position: 'absolute';
    top: '100%';
    left: '50%';
    transform: 'translateX(-50%)';
    margin-top: '10px';
  }